@import "../../variables";

#sidebar {
  width: 70px;
  height: 100%;
  background-color: white;
  float: left;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

#logo {
  width: 40px;
  margin: 15px 15px 70px 15px;
}

.center-content-hr {
  display: flex;
  justify-content: center;
}

.nav-entry:hover {
  background-color: $content-bg;
}

.nav-entry {
  margin-top: 20px;
  color: $nav-button;
  height: 70px;
  width: 70px;
  user-select: none;
  outline: 0;

  mat-icon {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 70px;
    transition: color 0.25s;
  }
}

.active {
  color: $nav-button-selected !important;
}

.active-marker {
  height: 70px;
  width: 4px;
  border-radius: 0 10px 10px 0;
  background-color: transparent;
  float: left;
  position: absolute;
  transition: background-color 0.25s;
}

.active .active-marker {
  background-color: $nav-button-selected !important;
}
