@import "../../variables.scss";

#sidebar {
  width: 70px;
  height: 100%;
  background-color: white;
  float: left;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

#logo {
  width: 40px;
  margin: 15px 15px 70px 15px;
}

.center-content-hr {
  display: flex;
  justify-content: center;
}

.nav-entry {
  margin-top: 20px;
  color: $nav-button;
  height: 70px;
  width: 70px;
  user-select: none;

  mat-icon {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 70px;
  }
}

.active {
  color: $nav-button-selected !important;

}

.active-marker {
  height: 70px;
  width: 4px;
  border-radius: 0px 10px 10px 0px;
  background-color: transparent;
  float: left;
  position: absolute;
}

.active .active-marker {
  background-color: $nav-button-selected !important;
}
