<div id="sidebar">
  <img src="assets/Logo.svg" id="logo" alt="logo">
  <div matRipple [matRippleCentered]="true" [matRippleRadius]="27.5" class="example-ripple-container nav-entry active">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">home</mat-icon>
  </div>
  <div matRipple [matRippleCentered]="true" [matRippleRadius]="27.5" class="example-ripple-container nav-entry">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">folder</mat-icon>
  </div>
  <div matRipple [matRippleCentered]="true" [matRippleRadius]="27.5" class="example-ripple-container nav-entry">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">cloud_upload</mat-icon>
  </div>
  <div matRipple [matRippleCentered]="true" [matRippleRadius]="27.5" class="example-ripple-container nav-entry">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">help</mat-icon>
  </div>
  <div matRipple [matRippleCentered]="true" [matRippleRadius]="27.5" class="example-ripple-container nav-entry">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">settings</mat-icon>
  </div>
</div>
