<div id="sidebar">
  <img src="../../assets/Logo.svg" id="logo" alt="logo">
  <div routerLink="dashboard" class="example-ripple-container nav-entry" [ngClass]="{'active' : isActive('dashboard')}">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">home</mat-icon>
  </div>
  <div routerLink="boards" class="example-ripple-container nav-entry" [ngClass]="{'active' : isActive('boards')}">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">folder</mat-icon>
  </div>
  <div routerLink="uploads" class="example-ripple-container nav-entry" [ngClass]="{'active' : isActive('uploads')}">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">cloud_upload</mat-icon>
  </div>
  <!--
  <div routerLink="help" class="example-ripple-container nav-entry" [ngClass]="{'active' : isActive('help')}">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">help</mat-icon>
  </div>
  -->
  <div routerLink="settings" class="example-ripple-container nav-entry" [ngClass]="{'active' : isActive('settings')}">
    <div class="active-marker"></div>
    <mat-icon class="material-icons-round">settings</mat-icon>
  </div>
</div>
