@import "../../variables.scss";

#toolbar {
  height: 70px;
  width: calc(100% - 70px);
  background-color: white;
  float: right;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

#profile:hover {
  background-color: $content-bg !important;
}

#profile {
  height: 100%;
  width: fit-content;
  float: right;
  padding-right: 30px;
  user-select: none;
  cursor: pointer;


  * {
    float: right;
  }

  p {
    line-height: 70px;
    font-size: 1.3em;
    font-weight: bolder;
    color: $text-grey;
  }

  #profile-picture {
    height: 35px;
    width: 35px;
    margin: 17.5px 20px;
    border-radius: 100%;
    background-color: $nav-button-selected;
  }

  #menu-button {
    margin-left: 20px;
    color: $nav-button;
    line-height: 70px;
  }
}


