<div id="profile-menu" [@inOutAnimation] *ngIf="isMenuOpened" class="dropdown-ignore">
  <div class="profile-item dropdown-ignore" (click)="logout()">
    <div class="dropdown-ignore">
      <span class="material-icons dropdown-ignore">
      logout
      </span>
      Logout
    </div>
  </div>
  <div class="profile-item dropdown-ignore" (click)="darkmode()">
    <div class="dropdown-ignore">
      <span class="material-icons dropdown-ignore">
      dark_mode
      </span>
      Darkmode
    </div>
  </div>
</div>
<div id="toolbar">
  <input id="board-name" [value]="getBoardName()" *ngIf="isEditor()" #boardname
         (change)="setBoardName(boardname.value)">
  <div id="profile" (click)="isMenuOpened = !isMenuOpened" class="dropdown-ignore">

    <mat-icon class="dropdown-ignore"
              id="menu-button">{{isMenuOpened ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
    <p class="dropdown-ignore">
      {{username}}
    </p>
    <div class="dropdown-ignore" id="profile-picture" class="material-icons">account_box</div>
  </div>

</div>

