<div id="top">
  <div id="headcontent">
    <p class="title">Dashboard</p>
    <div class="separator"></div>
    <div id="headBox">

      <div id="welcome"><p><b>Welcome back</b> {{getUsername()}}!</p></div>
      <div id="newBoard">
    <span class="material-icons">
    add
    </span>
        <p>NEW BOARD</p>
      </div>
      <div id="uploadImage">
    <span class="material-icons">
    cloud_upload
    </span>
        <p>UPLOAD IMAGE</p>
      </div>

    </div>
  </div>

  <div id="notificationContent">
    <p class="title">Notification</p>
    <div class="separator"></div>
    <div id="notificationBox">
      <div class="notification">
        <div class="not-dot"></div>
        <div class="not-text">
          Thanks for using VNote!
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bottom">

  <p class="title">Latest Boards</p>
  <div class="separator"></div>
</div>
