<div id="headcontent">
  <p class="title">Dashboard</p>
  <div class="separator"></div>
  <div id="welcome"><p><b>Welcome back</b> Max Muster!</p></div>
  <div id="newBoard">
    <span class="material-icons">
    add
    </span>
    <p>NEW BOARD</p>
  </div>
  <div id="uploadImage">
    <span class="material-icons">
    cloud_upload
    </span>
    <p>UPLOAD IMAGE</p>
  </div>
</div>

<div id="notificationContent">
  <p class="title">Notification</p>
  <div class="separator"></div>
  <div id="notificationBox"></div>
</div>
