@import "../../../variables.scss";


.title {
  font-size: 1.4em;
  font-weight: 700;
  color: $headline;
}

.separator {
  width: 75px;
  height: 4px;
  border-radius: 10px;
  background-color: $headline;
}

#headcontent {
  padding: 40px;
  width: 500px;
  height: 70%;
  float: left;
  margin-right: 40px;
}

#notificationContent {
  padding: 40px;
  width: 500px;
  height: 70%;
  float: left;
}

#newBoard, #uploadImage {
  width: 45%;
  margin-top: 30px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
  height: 60%;
  float: left;
  cursor: pointer;

  span {
    height: 70%;
    width: 100%;
    font-size: 6em;
    line-height: 160px;
    text-align: center;
    color: white;
  }

  p {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    color: white;
  }
}

#newBoard {
  margin-right: 10%;
  background-color: $nav-button-selected;
}

#uploadImage {
  background-color: $headline;
}

#welcome {
  width: 100%;
  margin-top: 30px;
  height: 30%;
  background-color: white;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));

  p {
    text-align: center;
    line-height: 100px;
    font-size: 1.5em;
  }
}

#headBox {
  margin-top: 30px;
  height: 100%;
  width: 100%;
}

#notificationBox {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
}

#top, #bottom {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

#bottom {
  padding: 40px;
}

.notification {
  height: 65px;
  width: 90%;
  margin-left: 5%;
  border-bottom: 2px solid $light-grey;
  box-sizing: border-box;
}

.not-dot {
  width: 15px;
  height: 15px;
  margin: 25px;
  border-radius: 100%;
  background-color: #F99853;
  float: left;
}

.not-text {
  float: left;
  line-height: 65px;
  font-size: 1.25em;
  font-weight: bold;
}
