<div id="header">
  <img src="../../assets/Logo.svg" id="logo" alt="logo">
  <p id="logoText">VNote</p>
  <div id="menu">
    <p routerLink="/vnote/home">Home</p>
    <p routerLink="/vnote/app">App</p>
    <p routerLink="/vnote/about">About Us</p>
    <p routerLink="/vnote/info">Info</p>
  </div>
  <div id="user-login">
    <div class="button-wrapper" routerLink="/register">
      <div id="signUp">Sign Up Free</div>
    </div>
    <div class="button-wrapper" routerLink="/login">
      <div id="logIn">Log In</div>
    </div>
  </div>
</div>
<div id="content">

  <img id="lp-image" src="./assets/registerPageBackground.svg">

  <div id="form">
    <div id="form-head">
      <div id="marker"></div>
      <p id="form-headline">REGISTER</p>
    </div>
    <div id="form-content">
      <div id="input-name">
        <mat-form-field id="firstname">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Re-type Password</mat-label>
        <input type="password" matInput [(ngModel)]="retypedPassword" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-checkbox color="primary" [(ngModel)]="GTCChecked" [ngModelOptions]="{standalone: true}"> &nbsp; I have read
        the terms of use and I accept them.
      </mat-checkbox>
      <div id="create-Button" (click)="register()">
        <p>Create Account</p>
      </div>
    </div>
  </div>
</div>
