<div id="header">
  <img src="../../assets/Logo.svg" id="logo" alt="logo">
  <p id="logoText">VNote</p>
  <div id="menu">
    <p routerLink="/vnote/home">Home</p>
    <p routerLink="/vnote/app">App</p>
    <p routerLink="/vnote/about">About Us</p>
    <p routerLink="/vnote/info">Info</p>
  </div>
  <div id="user-login">
    <div class="button-wrapper" routerLink="/register">
      <div id="signUp">Sign Up Free</div>
    </div>
    <div class="button-wrapper" routerLink="/login">
      <div id="logIn">Log In</div>
    </div>
  </div>
</div>
<div id="content">
  <!--
  <img id="lp-image" src="./assets/registerPageBackground.svg">
  -->
  <div id="form">
    <div id="form-head">
      <p id="form-headline">HEADLINE</p>
    </div>
  </div>
</div>
