@import "../../variables";

#header {
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  transition: filter 0.3s;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)) !important;
  z-index: 1;
}

#header * {
  float: left;
}

#logo {
  width: 40px;
  margin: 15px 30px;
}

#logoText {
  font-weight: 700;
  line-height: 66.5px;
  font-size: 1.4em;
  margin: 0;
  color: $nav-button-selected;
  user-select: none;
}

#menu {
  margin-left: 100px;
  line-height: 70px;
  font-size: 1em;
  color: $light-grey;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

#menu p {
  margin: 0px;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.15s;
  outline: none;
}

#user-login {
  position: absolute;
  right: 15px;
}

#user-login {
  float: right;
  font-weight: 700;
  font-size: 1em;
}

.button-wrapper {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 15px;
  outline: 0;
  user-select: none;
}

#signUp {
  background-color: $nav-button-selected;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  width: 100px;
  text-align: center;
  transition: background-color 0.15s;
}

#signUp:hover {
  background-color: $headline
}

#logIn {
  color: $nav-button-selected;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 100px;
  transition: color 0.15s;
}

#logIn:hover {
  color: $headline
}

#menu p:hover {
  color: $nav-button-selected;
}

#content {
  height: 100%;
  width: 100%;
  background-color: $content-bg;
  overflow: hidden;
}

#lp-image {
  height: 110%;
  margin-top: -1%;
  margin-left: 10%;
  float: left;
  position: fixed;
  z-index: 0;
}

#form {
  margin-top: calc(70px + 5%);
  margin-left: 48%;
  padding-bottom: 1px;
  height: fit-content;
  width: 500px;
  background-color: white;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)) !important;
}

#form-head {
  height: 10%;
  width: 100%;
  padding-top: 60px;
}

#form-headline {
  line-height: 100%;
  color: $nav-button-selected;
  font-weight: 700;
  font-size: 3em;
}

#marker {
  width: 7px;
  transform: translateY(-5px);
  height: calc(3em + 10px);
  border-radius: 15px;
  background-color: $nav-button-selected;
  float: left;
  margin-right: 40px;
}

#form-content {
  padding: 0 50px;
}

#input-name mat-form-field {
  width: calc(50% - 20px) !important;
}

#firstname {
  margin-right: 40px;
}

#form-content mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

mat-form-field {
  font-size: 1.25em;
}

#create-Button {
  margin-top: 30px;
  background-color: $nav-button-selected;
  width: 100%;
  height: fit-content;
  margin-bottom: 40px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.15s;
}

#create-Button:hover {
  background-color: $headline;
}


#create-Button p {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding: 25px;
}
