<div id="board">
  <div id="header">
    <div id="headline">
      {{username}}
    </div>
    <div id="open-button" (click)="openBoard()">
      <span class="material-icons">
      open_in_new
      </span>
    </div>
    <div id="separator"></div>
  </div>
  <div id="description">
    <p id="desc">{{board.boardName}}</p>
  </div>
  <div id="footer">
    <div id="contributors">
      <span class="material-icons">
      group
      </span>
      <p>
        {{getContributors()}} Contributors
      <p>
    </div>
    <div id="notes">
    <span class="material-icons">
      assignment
    </span>
      <p>
        {{board.numberOfPostits}} Notes
      <p>
    </div>
  </div>
</div>
