
#content {
  height: 100%;
  width: 100%;
}

#grid {
  height: calc(100% - 70px);
  width: calc(100% - 70px);
  background-image: url("../../../assets/background.svg");
  background-repeat: repeat;
  background-position-x: 0px;
  position: absolute;
  transition: opacity 0.20s ease;
}

note {
  position: absolute;
}

.context-menu-icon {
  margin: 8px !important;
}

mat-divider {
  margin-right: 16px;
  margin-left: 16px;
}

.context-button {
  margin: 0px;
  padding: 0px 16px 0px 8px !important;
}
