<div id="note" class="noDrag" [style.left]="note.x + 'px'" [style.top]="note.y + 'px'">
  <div id="menu" *ngIf="menuExtended" [@extendMenu] [style.border-color]="darkColor">
    <button mat-icon-button [style.color]="'#545454'" (click)="edit()" [matMenuTriggerFor]="editorMenu">
      <mat-icon>title</mat-icon>

      <mat-menu id="editorMenu" #editorMenu yPosition="above">
        <angular-editor (click)="$event.stopPropagation()" [(ngModel)]="htmlContent"
                        [config]="editorConfig"></angular-editor>
      </mat-menu>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="colorMenu" [style.color]="lightColor">
      <mat-icon>invert_colors</mat-icon>
    </button>
    <mat-menu id="colorMenu" #colorMenu yPosition="above">
      <color-sketch [color]="lightColor" (click)="$event.stopPropagation()"
                    (onChange)="handleChange($event)"></color-sketch>
    </mat-menu>
    <span> </span>
    <span> </span>
    <button mat-icon-button [style.color]="'#ABABAB'" (click)="lock();">
      <mat-icon *ngIf="!locked">lock_open</mat-icon>
      <mat-icon *ngIf="locked">lock</mat-icon>
    </button>
    <button mat-icon-button [style.color]="'#DB4848'">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>

  <div id="header" [style.background-color]="darkColor">
    <div id="menubutton" (click)="menuButtonPressed(this)" [style.background-color]="buttonColor">
    </div>
    <div *ngIf="!locked" id="dragHandle" #dragHandle></div>
    <div *ngIf="locked" id="lockedDragHandle" #dragHandle></div>
  </div>
  <div id="content" [style.background-color]="lightColor">
    <div id="content-text" [innerHTML]="note.text" *ngIf="note.text != null && false">
    </div>

    <div id="content-image" *ngIf="note.text == null || true">
      <div id="text-image" [style.background-image]="'url(\'data:image/png;base64,'+ note.textImage+'\''">
      </div>
    </div>
  </div>
</div>
